# Cartelle di build
/build/
/cmake-build-debug/
/CMakeFiles/
/CMakeCache.txt
/Makefile
/Testing/

# Eseguibili
TodoList
todolist_tests

*.idea/

# File generati da CTest/CTestTestfile
CTestTestfile.cmake
